* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.App {
  margin: 1%;
}

.help {
  font-size: 0.8em;
  font-style: italic;
  border: solid 1px grey;
  background: #ddd;
}

.app-wrapper {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  & > div {
    border:solid 1px grey;
    box-shadow: black 0px 0px 15px;
  }
}

.role-label {
  display: inline;
  font-size: 0.8em;
}

.employe-container {

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: grey;
  color: white;

  .nav-links {
    width: 40%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
      color: white;
      text-decoration: none;

      li {
        display: block;

      }
    }
  }
}