#new_employee {
  padding:15px;

  label {
    display: block;
    width:150px;
  }
  .dropzone {
    border:dotted 3px silver;
    width:150px;
    min-height:200px;
    border-radius: 15px;
    p {
      text-align: center;
    }
  }
}